<%= form_for @user do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :email %>
  <%= f.email_field :email %>

<p>Upload an avatar from your computer:</p>
  <%= f.label :avatar %>
  <%= f.file_field :avatar %>

<p>Upload an avatar from an URL:</p>

  <%= f.label :image %>
  <%= f.text_field :image %>

  <%= f.submit "Edit !" %>

<% end %>
