<p>Name: <%= @user.name %>
<% if @user == current_user %>
  <%= link_to "Edit profile", edit_user_path(@user) %></p>
  <p>What's in your mind today?</p>
  <%= render 'shared/post_form' %>
<% end %>


<% if @user == current_user || @current_user_friends.include?(@user) %>




   <h4>POSTS : </h4>
   <p>--------------------------------------</p>

   <%= render @posts %>

   <h4>Friends:</h4>
   <ul>
     <% @user_friends.each do |f| %>
       <li><%= link_to f.name, f %></li>
     <% end %>
   </ul>
 <% else %>
    <p>If you're not friend with this cat, you can't see its page.</p>
 <% end %>
