<%= link_to "Edit post", edit_post_path(post) if post.author == current_user %>
<p><strong><%= post.author.name %></strong> wrote
<%= time_ago_in_words(post.created_at) %> ago:</p>
<h3><%= post.title %></h3>

<p><%= post.body %></p>

<%= image_tag post.picture.url if post.picture? %>

<%= link_to post_likes_path(post) do %>
  <strong id="likes-count-<%= post.id %>"><%= post.likes.size %> people like this.</strong>
<% end %>

<% if like = post.already_like(current_user) %>
  <div id="likes-<%= post.id %>"><%= render partial: 'likes/unlike_form', :locals => {:post => post, like: like  } %></div>
<% else %>
  <div id="likes-<%= post.id %>"><%= render partial: 'likes/likes_form', :locals => {:post => post } %></div>
<% end %>

<strong>Comments:</strong>
<div id="comments"><%= render partial: 'comments/index', :locals => {:post => post } %></div>

<strong>Write a new comment :</strong>
<%= render partial: 'comments/form', :locals => {:post => post } %>

<p>
  --------------------------------------
</p>
